[Unit]
Description=nut-notify
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/nut-notify.sh
Restart=on-failure
RestartSec=5
SyslogIdentifier=nut-notify

[Install]
WantedBy=default.target
